<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
	<link rel="stylesheet" id="change_theme" href="{% static 'style.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>My Profile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body onload="myFunction()" style="margin:0;">
    <div id="loader"></div>
    <div class="outerBody" id="myDiv">
      <div class="header">
        <h2>ACCORDION</h2>
	  </div>

	  <div class="content">
      <button class="theme" onclick="theme()">Theme</button>
	    <div class="vitals">
          <button class="accordion" id="accordion">Vitals</button>
          <div class="panel">
	        <p> Full Name: Drasseta Aliyyu Darmansyah </p>
	        <p> Gender: Male </p>
	        <p> Birthday: June 1st, 1999 </p>
	        <p> Age: 19 </p>
          </div>
	    </div>

	    <div class="others">
          <button class="accordion" id="accordion">Other Information</button>
	      <div class="panel">
            <p>Address: Villa Pertiwi, S1 no. 2, Depok, West Java, Indonesia</p>
	        <p>Religion: Islam</p>
	        <p>Language: Indonesian and English</p>
	        <p>Occupation: College Student</p>
	        <p>University: Universitas Indonesia</p>
          </div>
	    </div>

	    <div class="contacts">
          <button class="accordion" id="accordion">Academic</button>
          <div class="panel">
	        <p>Graduated from SDN Sukamaju 10</p>
		    <p>Graduated from SMPN 4 Depok</p>
		    <p>Graduated from SMAN 3 Depok</p>
		    <p>Enrolled in Universitas Indonesia's Faculty of Computer Science</p>
          </div>
	    </div>
	  </div>
    </div>
    <script src="{% static 'accordion.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>